<footer class="footer slider-item container">
    <div class="footer-contact">
        <h5>Контакты</h5>
        <a href="tel:+79510366308">+79510366308</a>
        <a href="mailto:ilyabolshakov44@gmail.com">ilyabolshakov44@gmail.com</a>
    </div>
    <div class="footer-link">
        <a href="#"><img src="assets/images/icons/github.svg" alt="github"></a>
        <a href="mailto:ilyabolshakov44@gmail.com"><img src="assets/images/icons/email.svg" alt="email"></a>
        <img src="assets/images/icons/inst.svg" alt="instagram">
        <img src="assets/images/icons/vk.svg" alt="vk">
    </div>
    <span>&#169 Большаков Илья</span>
</footer>